<!DOCTYPE html>
<html>
  <head>
    <title>OvertimeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> 
  </head>

  <body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<%= render 'shared/nav.html.erb' %>
	    	<%= yield %>
	    	</div>
		</div>
	</div>
	<%= render partial: 'shared/growl_notifications' %>
	<%= javascript_include_tag 'main.js' %>
  </body>
</html>



			
			
